/* Fondo de la página con la imagen */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/DisOpcio.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.formulario h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}


.formulario label {
    font-size: 14px;
    color: #555;
}
