<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Ventas</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="contenedor">
        <h1>Gestión de Ventas</h1>
        <button onclick="location.href='consultarVentas.html'">Consultar Ventas</button>
        <button onclick="location.href='registrarVentas.html'">Registrar Nueva Venta</button>
    </div>
</body>
</html>
